{% extends "layout.html" %}
{% block title %}Batch User Resources{% endblock %}
{% block content %}
<h1 class="text-2xl font-light">User Resources</h1>
<table class='overflow-hidden table-fixed text-center w-full'>
  <thead class='h-12 text-sky-900'>
    <tr>
      <th class='text-center'>Name</th>
      <th class='text-center'>Ready Jobs</th>
      <th class='text-center'>Ready Cores</th>
      <th class='text-center'>Running Jobs</th>
      <th class='text-center'>Running Cores</th>
    </tr>
  </thead>
  <tbody>
    {% for user in user_resources %}
    <tr class='h-16 border-y bg-white'>
      <td>{{ user['user'] }}</td>
      <td>{{ user['n_ready_jobs'] }}</td>
      <td>{{ user['ready_cores_mcpu'] / 1000 }}</td>
      <td>{{ user['n_running_jobs'] }}</td>
      <td>{{ user['running_cores_mcpu'] / 1000 }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
