{% from "table_search.html" import table_search with context %}
{% from "components/metadata_tables.html" import kv_table, resource_cost_table, collapsible_li %}
{% from "components/utils.html" import
batch_state_indicator, danger_button, submit_button, link
%}
{% extends "layout.html" %}
{% block title %}Batch {{ batch['id'] }}{% endblock %}
{% block head %}
<script src="{{ base_path }}/common_static/focus_on_keyup.js"></script>
{% endblock %}
{% block content %}
<div class='flex flex-wrap justify-around pt-8'>
  <div class='drop-shadow-sm w-full md:basis-2/3 lg:basis-1/3'>
    <ul class='border border-collapse divide-y bg-slate-50 rounded'>
      <li class='p-4'>
        <div class='flex w-full justify-between items-center'>
          <div class='text-xl font-light'>Batch {{ batch['id'] }}</div>
          {{ batch_state_indicator(batch) }}
        </div>
        <div class='text-xl font-light py-2'>
          {% if 'attributes' in batch and 'name' in batch['attributes'] %}
          {{ batch['attributes']['name'] }}
          {% endif %}
        </div>
        <div class='flex justify-between items-center'>
          <div>
            <div class='font-light text-zinc-500'>Submitted by {{ batch['user'] }}</div>
            <div class='font-light text-zinc-500'>Billed to {{ batch['billing_project'] }}</div>
          </div>
          {% if not batch['complete'] and batch['state'] != 'Cancelled' %}
          <form action="{{ base_path }}/batches/{{ batch['id'] }}/cancel" method="post">
            <input type="hidden" name="_csrf" value="{{ csrf_token }}" />
            {% if q is not none %}
            <input type="hidden" name="q" value="{{ q }}" />
            {% endif %}
            {{ danger_button('Cancel') }}
          </form>
          {% endif %}
        </div>
      </li>
      {% call collapsible_li(true, 'Jobs', batch['n_jobs']) %}
      <table class='w-full'>
        <tbody class='divide-y'>
          <tr>
            <td class='p-2'>Pending</td>
            <td class='p-2 text-right'>{{ batch['n_jobs'] - batch['n_completed'] }}</td>
          </tr>
          <tr>
            <td class='p-2'>Succeeded</td>
            <td class='p-2 text-right'>{{ batch['n_succeeded'] }}</td>
          </tr>
          <tr>
            <td class='p-2'>Failed</td>
            <td class='p-2 text-right'>{{ batch['n_failed'] }}</td>
          </tr>
          <tr>
            <td class='p-2'>Cancelled</td>
            <td class='p-2 text-right'>{{ batch['n_cancelled'] }}</td>
          </tr>
        </tbody>
      </table>
      {% endcall %}
      {% call collapsible_li(false, 'Attributes', '') %}
      {{ kv_table(batch.get('attributes', {})) }}
      {% endcall %}
      {% call collapsible_li(false, 'Duration', batch.get('duration') or '') %}
      <table class='w-full'>
        <tbody class='divide-y'>
          <tr>
            <td class='p-2'>Created</td>
            <td class='p-2 text-right'>
              {% if 'time_created' in batch and batch['time_created'] is not none %}
              {{ batch['time_created'] }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <td class='p-2'>Completed</td>
            <td class='p-2 text-right'>
              {% if 'time_completed' in batch and batch['time_completed'] is not none %}
              {{ batch['time_completed'] }}
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
      {% endcall %}
      {% call collapsible_li(false, 'Cost', batch.get('cost')) %}
      {{ resource_cost_table(batch['cost_breakdown']) }}
      {% endcall %}
    </ul>
  </div>
  <div class="flex flex-col w-full lg:basis-3/5">
    {{ table_search("job-search", base_path ~ "/batches/" ~ batch["id"]) }}
    <div class='flex-col'>
      <table class="table-fixed md:table-auto w-full" id="batch">
        <thead>
          <th class='h-16 bg-slate-200 font-light text-md text-left pl-4 rounded-tl w-1/12'>ID</th>
          <th class='h-16 bg-slate-200 font-light text-md text-left pl-4 rounded-tr md:rounded-tr-none w-3/4 lg:w-1/2'>
            Name</th>
          <th class='h-16 bg-slate-200 font-light text-md text-left pl-4 hidden lg:table-cell'>Duration</th>
          <th class='h-16 bg-slate-200 font-light text-md text-left pl-4 hidden md:table-cell rounded-tr'>Cost</th>
        </thead>
        <tbody class='border border-collapse border-slate-50'>
          {% for job in batch['jobs'] %}
          <tr class='border border-collapse hover:bg-slate-100'>
            <td class='font-light py-2 px-4'>
              {{ link(base_path ~ '/batches/' ~ job['batch_id'] ~ '/jobs/' ~ job['job_id'], job['job_id']) }}
            </td>
            <td class='py-2 px-4 overflow-hidden'>
              <div class='flex flex-col space-y-1 md:flex-row md:flex-wrap md:space-y-0'>
                {% if 'name' in job and job['name'] is not none %}
                <div class='text-wrap pr-4 font-normal text-lg'>
                  {{ link(base_path ~ '/batches/' ~ job['batch_id'] ~ '/jobs/' ~ job['job_id'], job['name']) }}
                </div>
                {% endif %}
                <div>
                  {{ batch_state_indicator(batch) }}
                </div>
              </div>
            </td>
            <td class='hidden lg:table-cell font-light py-2 px-4'>
              {{ job.get('duration') or '' }}
            </td>
            <td class='hidden md:table-cell font-light py-2 px-4'>
              {{ job.get('cost') or '' }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% if last_job_id is not none %}
    <div class='pt-2 flex w-full justify-end'>
      <form method="GET" action="{{ base_path }}/batches/{{ batch['id'] }}">
        {% if q is not none %}
        <input type="hidden" name="q" value="{{ q }}" />
        {% endif %}
        <input type="hidden" name="last_job_id" value="{{ last_job_id }}" />
        {{ submit_button('Next page') }}
      </form>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
